header {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #555555;
  background-color: var(--bg-color-darkest);
  align-items: center;
  justify-content: space-between;
}

.header-title {
    font-size: min(7vw, 40pt);
    color: #ffffff;
    text-decoration: none;
}

main {
  padding: 5rem;
  font-size: 120%;
  flex: 1;
  overflow: auto;
}

mark {
  background-color: transparent;
  color:darkturquoise;
  font-weight: bold;
}