:root {
  --theme-font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --theme-font-size: 14pt;
  --theme-c: 0deg;
  --theme-s: 0%;
  --theme-l: 15%;
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: var(--theme-font-family);
  font-size: var(--theme-font-size);
  color: #ffffff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

button,
input,
textarea,
select {
  font-size: var(--theme-font-size);
}

.bg0 {
  background-color: hsl(var(--theme-c) var(--theme-s) 0%);
}

.bg1 {
  background-color: hsl(var(--theme-c) var(--theme-s) 5%);
}

.bg2 {
  background-color: hsl(var(--theme-c) var(--theme-s) 10%);
}

.bg3 {
  background-color: hsl(var(--theme-c) var(--theme-s) 15%);
}

.bg4 {
  background-color: hsl(var(--theme-c) var(--theme-s) 20%);
}

.bg5 {
  background-color: hsl(var(--theme-c) var(--theme-s) 25%);
}

.bg6 {
  background-color: hsl(var(--theme-c) var(--theme-s) 30%);
}

.bg7 {
  background-color: hsl(var(--theme-c) var(--theme-s) 35%);
}

.bg8 {
  background-color: hsl(var(--theme-c) var(--theme-s) 40%);
}
