body[data-theme='meadow'] {
  --theme-color: 120deg;
  --theme-saturation: 10%;
  --theme-lightness: 15%;
}

body[data-theme='sky'] {
  --theme-color: 230deg;
  --theme-saturation: 10%;
  --theme-lightness: 15%;
}
