.file-browser {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex: 1;
  height: 100%;
}

.file-source {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.file-list {
  /* padding: 1rem; */
}